<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2017 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
<data>

<menuitem
            id="project_task_accrue_configuration_menu"
            name="Accrue Entry"
            parent="base.menu_definitions"
        />

</data>
</openerp>
